body
{
    background-color: white;
}

.galery_container
{
    width: 90%;
    height: 500px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 50px;
    border-radius: 8px;
    display: flex;
}

.galery_title
{
    text-align: center;
    padding-top:30px;
    font-size: 4em;
    font-family: 'Cinzel', serif;
}

.collection_container_item
{
    width: 12em;
    height: 18em;
    margin-right: 5%;
}

.collection_container_item:hover .collection_container_social
{
    visibility: visible;
    height: 2em;
    transition: 0.3;
}

.collection_container_item img
{
    width:50px;
    height: 100%;
}


.collection_container_name
{
    background-image: url("../Imagens/quadro1.jpg");
    background-color: none;
    width: 100%;
    height: 100%;
    border:1px solid gray;
    border-radius: 8px;
    background-size: 100% 100%;
}

.collection_container_name:hover
{
    cursor: pointer;
}


.collection_container_info_bot
{
    padding-top: 105%;
    display: flex;
}

.collection_container_name_info
{
    margin-right: 12%;
    margin-left: 7%;
    visibility: hidden;
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
    border-radius: 8px;
    width: auto;
}

.collection_container_name_info:hover
{
    background-color: white;
}


.collection_container_name_info2
{
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
    visibility: hidden;
    text-align: center;
    border-radius: 10px;
}

.text_gallery
{
    width: 100%;
    height: 98%;
    border-radius: 8px;
    padding-top: 5px;
}

/*hover do nome, tipo de arte e nome da galeria*/
.text_gallery:hover .collection_container_name_info
{
    visibility: visible;
    transition :0.3s;
    cursor: pointer;
    
}


.text_gallery:hover
{
    background-color: rgba(0,0,0,0.2);
    transition :0.3s;
}

/*SOCIAL BUTTONS-----------------*/

.collection_container_info_bot img
{
    height: 20px;
    width: 20px;
}

.collection_container_social
{
    display: flex;
    padding-top: 3%;
    box-shadow: 2px 2px lightslategray;
    padding-left: 8px;
    height: 0em;
    border-radius: 8px;
    margin-top: 5px;
    visibility: hidden;
}

.collection_container_social:hover
{

}

.collection_social_btn
{
    margin-right: 29%;
    padding-top:4px;
    font-family: 'Cinzel', serif;
    font-size:13px;
}


/*MODAL DISPLAY DE IMAGENS DA GALERIA*/
.modalGallery
{
    display:none;
    position:fixed;
    z-index: 1;/*Ficar por cima dos elementos no eixo Z*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal_content img
{
    height: 23em;
    width: 16em;
    margin-left: 18%;
}

.modal_content
{
    margin: 5% auto;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(0,0,0,0.7);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius:8px;
    display: flex;
}

.close
{
    color:#aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  /*cursor: pointer;*/
}

.gallery_arrows img
{
    height: 6em;
    width: 3em;
    border-radius: 10px;
}

.gallery_arrows img:hover
{
    
    cursor: pointer;
    transition: 0.5s;
}

.arrow_2
{
    background-image: url('../Imagens/icons8-double-right-50.png');
    height: 3em;
    width: 3em;
    float: right;
    margin-left: 15%;
    margin-top: 15%;
    margin-right: 7%;
}

.arrow_2:hover
{
    
    background-image: url('../Imagens/rigth_arrow_white.png');
    height: 3em;
    width: 3em;
    transition: 0.3s;
}

.arrow_1
{
    background-image: url('../Imagens/icons8-double-left-50.png');
    height: 3em;
    width: 3em;
    margin-left: 10%;
    margin-top: 15%;
}
.arrow_1:hover
{
    height: 3em;
    width: 3em;
    background-image: url('../Imagens/left_arrow_white.png');
    transition: 0.3s;
}



