/* Geral -------------------------------------------------------------------- */
/*colors : vermelho escuro:#D24D57*/
            /*rgba do vermelho escuro rgba(210,77,87,0.7)*/

*{margin:0; padding: 0;}

.limpa{clear: both;}

html{height: 100%;}
body {background-color: #f2f2f2;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}

/* Fim Geral ---------------------------------------------------------------- */

/*---------------------------------------------------- NAVBAR ------------------------------------------------ */
.nav_bar
{
    width:100%;
    height: 4em;
    display: inline-flex;
    background-color: #2d3235;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    color:white;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.nav_bar>div
{
  margin-top: auto;
  margin-bottom: auto;
}

.logo
{
    margin-left: 120px;
    width: 100px;
    margin-right: 30px;
}
.logo img
{
    width: 100%;
    height: 70%;
}
.menus
{
    width: 100%;
    float: right;
    text-align: right;
}

.menus>div
{
    display: inline-block;
    text-align: center;
    margin-right: 40px;
    cursor: pointer;
    font-size: 15px;
}

.menus>div::after
{
    content:'';
    display:block;
    width:0;
    height:2px;
    background: #fff;
    transition: width .3s;
}

.menus>div:hover::after
{
    width: 100%;
    transition: width .3s;
}

/*------------------------------------------- Barra de pesquisa -----------------------------------------------*/
.pesquisar
{

    border: 1px solid rgba(0,0,0,0.2);
    height: 30px;
    background-color:  rgba(0,0,0,0.2);
    overflow: hidden;
    width: 25%;
    border-radius: 8px;
}
.pesquisar:hover
{
    cursor: pointer;
}
.search-btn
{
    color:white;
    float: right;
    width:25px;
    height: 25px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    padding-left:15px;
    padding-bottom:10px;
    padding-right: 8px;
}

.search-btn img
{
    width: 20px;
}

.search-text
{
    margin-top: 5px;
    margin-left: 5px;
    border:none;
    background: none;
    outline:none;
    float:left;
    padding:0;
    color:white;
    font-size: 14px;;
    line-height: 20px;
}

.search-text::placeholder
{
    color:lightblue;
}

/*FIM barra de pesquisa-------------------------------------------------------------------*/


.galerias img
{
    height:20px;
    width: 20px;
}

.home img
{
    width:20px;
    height:20px;
}
.network img
{
    width:20px;
    height:20px;
}
.mensagens img
{
    width:20px;
    height:20px;
}

.notificacoes img
{
    width:20px;
    height:20px;
}

.perfil img
{
    width:20px;
    height:20px;
}

/*fim navbar-------------------------------------------------------------------------------------------*/

/*------------------------------------------ PUBLICAR POST -------------------------------------------------*/
.post
{
    border: 1px solid gray;
    width: 50%;
    height: auto;
    margin-top: 5%;
    margin-left: 25%;
    background-color:white ;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;

}
.post_body
{
    display: flex;
}

.post-text
{
    width: 90%;
    height: 149px;
    border-bottom: none;
    border-left: none;
    resize: none;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;

}

.post>div img
{
    width: 50px;
    height: 50px;

}

.post-img
{
    border-top: 1px solid gray;
    padding-left: 10px;
    padding-right: 20px;
    height: 49px;

}
.post-img:hover
{
    background-color: #EBECF0;
    transition-delay: all 0.3s;
    cursor: pointer;

}
.buttons
{

}

.post_btn_text
{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 15px;
    height: 34px;
    color:#808080;
    border-top: 1px solid gray;


}

.post_btn_text:hover
{
    background-color: #EBECF0;
    transition-delay: all 0.3s;
    cursor: pointer;
    color:black;

}

.smart_text
{
    background-color:#E6E6FA;
    font-family: 'PT Serif', serif;
    color:gray;
    font-size: 20px;
    padding-left: 20px;
}

.post_ready
{
    border: 1px solid gray;
    width: 50%;
    height: auto;
    margin-top: 5%;
    margin-left: 25%;
    background-color:white ;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    margin-bottom:20%;
}

/*divider*/

.divider
{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 70%;
    margin-top: 50px;
}
/*---------------------------------------- user info post ---------------------------------------------------*/
.user_post_info
{
    display: flex;
}

.userImg img
{
    width: 50px;
    height: 50px;
}

.userImg
{
    margin-right: 10px;
    margin-left: 10px;
}

.user_follow
{
    padding-top: 20px;
    margin-left: 55%;
}

.user_post_info
{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    padding-top:10px;
    background-color:#E6E6FA;
}

.user_data
{
    font-family: 'PT Serif', serif;
    color:#444444;
    font-size: 12px;
}

.user_seguidores
{
    font-family: 'PT Serif', serif;
    color:#444444;
    font-size: 12px;
}
/*FIM user post info---------------------------------------*/

.post_content
{
    padding-top: 30px;
    padding-left: 10px;
}

.social_info
{
    display: flex;

}

.social_btn_post
{
    margin-top: 30px;
    padding-left: 10px;
    color: #00cc8b;
    border-right: 1px solid gray;
    padding-right: 5px;
}
.social_btn_post img
{
    width:13px;
    height:13px;
    padding-right: 5px;

}

.social_btn
{
    display: flex;
    border-top: 1px solid gray;
    border-width: 90%;

}

.social_btn_filho
{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'PT Serif', serif;
    color:#444444;
    font-size: 20px;
    border-left: 1px solid gray;
    padding-left: 85px;
    padding-right: 85px;

}

.social_btn_filho:hover
{
    background-color: #EBECF0;
    transition-delay: all 0.3s;
    cursor: pointer;
    color:black;
}

.line_divider
{
    width: 90%;
    height: 1px;
    margin: 5% auto 0 auto;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
}
/*FIM PUBLICAR POST------------------------------------------------------------------------*/

/*-------------------------------------------- CSS REGISTO --------------------------------------------------- */
.Logo img
{
    height: 40px;
    width:5%;
    margin-left: 1%;
    margin-top:30px;
}

.pai
{
    width: 25%;
    margin-top: 20px;
    margin-left: 37.5%;
    margin-right: 37.5%;
    display: flex;
    padding-bottom: 1.5%;
    background-color: white;
    border-radius: 5px;
    border:0.3px solid black;
}

.filho
{
    display:grid;
    color:white;
    width: 100%;
}

.filho label
{
  color: black;
}

.filho input
{
    margin-bottom:40px;
    height: 30px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border:none;
    outline:none;
    background-color: lightgreen;
    color:white;
}
.filho input::placeholder
{
    text-align: center;
}

.filho input:-ms-input-placeholder
{
    text-align: center;
}

.filho::-ms-input-placeholder
{
  text-align: center;
}

.filho input::-webkit-outer-spin-button, .filho input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

.filho input[type='number']
{
  background-color: lightgreen;
}

.filho input[type='radio']
{
  width: 1em;
  height: auto;
  margin-left: 0.3em;
  margin-right: 0%;
}

.filho input[type='date']
{
  text-align: center;
  color: grey;
}

input[type=date]::-webkit-calendar-picker-indicator {
  position: fixed;
  margin-left: 13.2em;
}

.filho input[type='submit']
{
  width: 60%;
  height: 2.3em;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 12px;
  font-weight: bold;
  color: black;
}

.regcheck
{
  width: 100%;
  text-align: center;
  display: inline;
  float: left;
  height: 2.2em;
}

.borders
{
    border: 1px solid rgba(0,0,0,0.2);
    height: 30px;
    background-color: lightgreen;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom:20px;
    margin-left: 25%;
    margin-right: 25%;
}

.border1
{
    margin-top:20px;
}

.titulo
{
    background-color: black;
    width: 100%;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Oswald', sans-serif;
    padding-top:25px;
    padding-bottom:25px;
    font-size:20px;

}



/*FIM BODY---------------------------------------------------------------------------------*/


/*------------------------------------------------ GALERIA --------------------------------------------------*/

.galery_container
{
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 5%;
    border-radius: 8px;
    display: inline-block;
}

.container_last_child
{
    margin-right: 0%;
}

.galery_title
{
    text-align: center;
    padding-top:30px;
    font-size: 4em;
    font-family: 'Cinzel', serif;
}

.collection_container_item
{
    width: 14em;
    height: 20em;
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 4%;
    float:left;
}

.collection_container_item:last-child
{
    margin-right: 0;
}


.collection_container_item:hover .collection_container_social
{
    visibility: visible;
    height: 2em;
    transition: 0.3;
}

.collection_container_item img
{
    width:50px;
    height: 100%;
}


.collection_container_name
{
    background-image: url("../Imagens/quadro1.jpg");
    background-color: none;
    width: 100%;
    height: 100%;
    border:1px solid gray;
    border-radius: 8px;
    background-size: 100% 100%;
}

.collection_container_name:hover
{
    cursor: pointer;
}


.collection_container_info_bot
{
    padding-top: 105%;
    display: flex;
}

.collection_container_name_info
{
    margin-right: 12%;
    margin-left: 7%;
    visibility: hidden;
    background-color: rgba(255,255,255,0.8);
    padding: 5px;
    border-radius: 8px;
    width: auto;
}

.collection_container_name_info:hover
{
    background-color: white;
}


.collection_container_name_info2
{
    width: 50%;
    margin-left: 22.5%;
    margin-top: 3%;
    visibility: hidden;
    text-align: center;
    border-radius: 10px;
}

.text_gallery
{
    width: 100%;
    height: 98%;
    border-radius: 8px;
    padding-top: 5px;
}

/*hover do nome, tipo de arte e nome da galeria*/
.text_gallery:hover .collection_container_name_info
{
    visibility: visible;
    transition :0.3s;
    cursor: pointer;

}


.text_gallery:hover
{
    background-color: rgba(0,0,0,0.2);
    transition :0.3s;
}

/*------------------------------------------- SOCIAL BUTTONS -------------------------------------------------*/

.collection_container_info_bot img
{
    height: 20px;
    width: 20px;
}

.collection_container_social
{
    display: flex;
    padding-top: 3%;
    box-shadow: 2px 2px lightslategray;
    padding-left: 8px;
    height: 0em;
    border-radius: 8px;
    margin-top: 5px;
    visibility: hidden;
}

.collection_container_social:hover
{

}

.collection_social_btn
{
    margin-right: 29%;
    padding-top:4px;
    font-family: 'Cinzel', serif;
    font-size:13px;
}


/*-------------------------------------- MODAL DISPLAY DE IMAGENS DA GALERIA ----------------------------------*/
.modalGallery
{
    display:none;
    position:fixed;
    z-index: 2;/*Ficar por cima dos elementos no eixo Z*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal_content
{
    margin: 6% auto;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgba(255,255,255);
    /*padding-top: 20px;
    padding-bottom: 20px;*/
    border-radius:8px;
    display: flex;
    height: 36em;
}

.close
{
    color:#aaa;
    font-size: 40px;
    font-weight: bold;
    margin-left: 0.3em;
    margin-right: 0.3em;
    height: 5%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal_esquerda{
  height: 100%;
  width: 60%;
}

.modal_esquerda img{
  height: 100%;
  width: 100%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.modal_direita{
  width: 40%;
  padding-left: 1em;
  padding-top: 1em;
  height: 100%;
}

.arrow_2
{
    background-image: url('../Imagens/icons8-double-right-50.png');
    top: 50vh;
    transform: translateY(-50%);
    content: "";
    right: 1.2em;
    display: block;
    position: fixed;
    bottom: auto;
    width: 3em;
    height: 3em;
    -webkit-filter: drop-shadow(-2px 0px 1px rgba(0,0,0,.5));
    -moz-filter: drop-shadow(0px 1px 2px rgba(0,0,0,.5));
    -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    filter: drop-shadow(0px 1px 2px rgba(0,0,0,.5));
}

.arrow_2:hover
{

    background-image: url('../Imagens/rigth_arrow_white.png');
    height: 3em;
    width: 3em;
    transition: 0.3s;
}

.arrow_1
{
    background-image: url('../Imagens/icons8-double-left-50.png');
    top: 50vh;
    transform: translateY(-50%);
    content: "";
    left: 1.2em;
    display: block;
    position: fixed;
    bottom: auto;
    width: 3em;
    height: 3em;
    -webkit-filter: drop-shadow(-2px 0px 1px rgba(0,0,0,.5));
    -moz-filter: drop-shadow(0px 1px 2px rgba(0,0,0,.5));
    -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5));
    filter: drop-shadow(0px 1px 2px rgba(0,0,0,.5));
}
.arrow_1:hover
{
    height: 3em;
    width: 3em;
    background-image: url('../Imagens/left_arrow_white.png');
    transition: 0.3s;
}

.autor_modal_user{
  display: flex;
  align-items: baseline;
  height: 3.4em;
  width: 100%;
}

.autor_modal_user_img{
  float: left;
}

.autor_modal_user_nome{
    padding-bottom: 2%;
  float:left;
}

.modal_user_desc
{
    width: 100%;
    height: 2em;
    float: left;
    font-size: 0.8em;
    padding-top: 5px;

}

/*------------------------------ Modal direita, parte dos comentarios ---------------------------------------*/

.modal_direita_comentarios
{
    width: 100%;
    height: 65%;
    background-color: white;
    border-radius: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.modal_direita_comentarios::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.autor_modal_info
{
    padding-top: 5%;
    display: flex;
    padding-bottom: 5%;
    height: 5%;
    padding-left: 0.5em;
}


.modal_comentarios_separador
{
    border-top: 1px solid #EBECF0;
}

.modal_user_comentario
{
    width: 100%;
    height:2em;
    border:none;
    color: black;
    font-size: 0.9em;
    outline: none;
    margin-right: 5%;
    padding-left: 0.5em;

}

/*------------------------- Botões de like e partilhar comentario na modal da galeria -------------------------*/

.autor_modal_info_btn
{
    height: 100%;
    width: 9%;
}

.autor_modal_info_btn:hover
{
    cursor: pointer;

}

.autor_modal_info_btn i
{
    color:black;
}

.autor_modal_info_btn i:hover
{
    color: #D24D57;
    transition: 0.6s;
}

#modal_user_sendbtn
{
    display: none;
}

#modal_user_sendbtn:hover
{
    cursor: pointer;
}

#modal_user_sendbtn i
{
  -ms-transform: rotate(43deg); /* IE 9 */
  transform: rotate(43deg);
  line-height: 27px;
}

.modal_comentarios_bottom
{
    display: flex;
}


/*----------------------------------------- Modal comentario ------------------------------------------------*/

.modal_comentario_total
{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #aaa;
    border-radius: 8px;
    width: 100%;
}

.modal_comentario_username
{
    padding-left: 2%;
    width: 100%;
    height: 30%;
    font-size: 0.8em;
    font-weight: bold;
}

.modal_comentario_texto
{
    padding: 3%;
    font-size: 0.7em;

}

.modal_comentario_texto p
{
  word-break: break-all;
}

.modal_comment_main
{
    margin-top: 5%;
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.modal_comentario_userimg
{
    width: 15%;
    max-height: 70px;
}

.modal_comentario_userimg img
{
    height: 32px;
    width: 32px;
    padding-top: 20%;
    padding-left: 10%;
}

.modal_comentario_buttons
{
    display: flex;
    height: 20%;
    padding-top: 2%;
}


.modal_comentario_buttons>div
{
    padding-right: 3%;
}

.modal_hidden_options
{
    padding-right: 0% !important;
}



.modal_comentario_buttons i:hover
{
    cursor: pointer;
}


.modal_comentario_buttons img
{
    height: 18px;
    width: 18px;
}



.modal_total_buttons
{
    width: 84%;
    max-width: 84%;

}

.modal_comentario_buttons_likes
{
    float: right;
    font-size: 0.7em;
    text-align: right;
    margin-left: 2%;
    width: 100%;
    margin-left: 50%;
}

.modal_comentario_buttons_likes:hover
{
    cursor: pointer;
    text-decoration: underline;
}

/*------------------------------------- RESPOSTA AO COMENTARIO ------------------------------------------------*/
.modal_comentario_resposta
{
    height: 2em;
    float: right;
    width: 70%;
    display:none;
}

.modal_comentario_resposta_texto
{
    border: 1px solid #aaa;
    border-radius: 10px;
    padding-left: 5px;
    width: 84%;
}

.modal_comentario_resposta_texto input
{
    outline: none;
    border:none;
    height: 100%;
    font-size:0.7em;
    padding-right: 1.8em;
}

.modal_comentario_resposta_texto i:hover
{
    cursor: pointer;
}

.modal_comentario_resposta_texto i
{
    transform: rotate(43deg);
}

.modal_comentario_resposta_imagem
{
    margin-right: 5%;
    margin-top: 2%;
}

.modal_comment_main_resposta
{
    display:block;
}

/*---------------------------------- RESPOSTA AO COMENTARIO PRINCIPAL ----------------------------------------*/
.modal_comentario_reply
{
    display:flex;
    width: 70%;
    float: right;
    height: 40%;
    margin-bottom: 5%;
}

.modal_comentario_reply_content
{
    border: 1px solid #aaa;
    border-radius: 8px;
    width:100%;
}

.modal_comentario_reply_content_main
{
    width: 100%;
    display: flex;
}
.modal_comentario_reply_content_texto
{
    width: 85%;
    padding: 2%;
    font-size: 0.7em;
    font-family: 'Open Sans', sans-serif;
}

.modal_comentario_reply_content_like
{
    width: 15%;
}

.modal_comentario_reply_content_name
{
    font-size: 0.7em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding-left: 2%;
}

.modal_comentario_reply_imagem
{
    width: 20%;
}

.modal_comentario_reply_imagem img
{
    height: 26px;
    width: 26px;
    padding-top: 10px;

}

.modal_comentario_reply_content_like
{
    height: 15px;
    width: 15px;

}

.modal_comentario_reply_content_like i:hover
{

    color:#D24D57;
    cursor: pointer;
}

.modal_comentario_buttons i:hover
{
    color:#D24D57;
    cursor: pointer;
    transition: 0.6s;
}

#btn_like
{
    color: black;
}

#btn_options
{
    position: relative;
}

#btn_options i
{
    border: none;
    border-bottom: none;
    margin-left: 0px;
    padding-right: 2px;
    padding-bottom: 5px;
    padding-left: 2px;
}

/*hidden options comentario-------------*/
.modal_hidden_options
{
    display: none;
    z-index: 3;
    height: 6.85em;
    width: 100%;
    background-color: white;
    border: 1px solid #aaa;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    padding-right: 0%;
    position: absolute;
    top: 20px;
    width: 140px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.modal_hidden_options>div
{
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    border-top: 1px solid #DCDCDC;
}

.modal_hidden_options>div:hover
{
    cursor: pointer;
    background-color: #DCDCDC;
}

.modal_hidden_options>div:first-child
{
    border-top-right-radius: 8px;
}

.modal_hidden_options>div:last-child
{
    color: #D24D57;
    background-color: #ececec;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
/*MODAL DOS LIKES DOS COMENTARIOS*/
#display_like_background
{
    display: none;
    width: 419px;
    height: 576px;
    position: absolute;
    background-color: rgba(0,0, 0, 0.4);
    z-index: 4;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    right: 29.72em;
    top: 7.1em;
}

.display_like_post
{
    background-color: white;
    width: 80%;
    height: 75%;
    margin: 10% 10% 0% 8%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.display_post_finisher
{
    height: 5%;
    width: 80%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 1px solid #EBECF0;
    background-color: white;
    margin-left: 8%;
}
.display_like_post span
{
    float: right;
    margin-right: 0.5em;
    margin-top: 0.3em;
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
}
.display_like_post span:hover
{
    cursor: pointer;
    color: #2d3235;
}

.display_like_user
{
    display: flex;
    border-bottom: 1px solid #EBECF0;
    width: 100%;
    height: 3em;
    background-color: white;
}

.display_like_user:hover
{
    cursor: pointer;
}

.display_like_user_img
{
    width: 15%;
}

.display_like_user_img img
{
    height: 24px;
    width: 24px;
    padding: 25%;
}

.display_like_user_name
{
    width: 85%;
    text-align: left;
    padding-top: 1em;
    padding-left: 0.5em;
}
.display_like_close_container
{
    width: 100%;
    border-bottom: 1px solid #EBECF0;
    height: 3em;
}
.display_like_post_scroll
{
    height: 100%;
    overflow-y: scroll;
    overflow-x:none;
}

.display_like_post_scroll::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

/*se nao houver comentarios no post*/
.modal_comentario_empty
{
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 90%;
    font-family: 'Poppins', sans-serif;
    color: #999999;
    font-size: 1em;
}

/*---------------------------------------- PAGINA DE LOGIN ---------------------------------------------------*/
.login_form
{
    display: block;
    width: 30em;
    margin-left: 37%;
    height: 25em;
    margin-top: 5%;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0px 0px 5px 1px #4e4e4e;

}
.login_form_title
{
    background-color: black;
    color: white;
    font-size: 1.5em;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    font-family: 'Open Sans', sans-serif;

}

.login_form_title img
{
  width: 4em;
  height: 2em;
}

.login_form form
{
    display: grid;
    margin-top: 7%;
    width: 69%;
    padding-left: 16%;
}

.login_form form input
{
    margin-top: 2%;
    height: 2.2em;
    margin-bottom: 4%;
    outline: none;
    padding-left: 5px;
    font-family: 'Open Sans', sans-serif;

}

#login_form_button
{
    margin-top: 20%;
}

/*botao de registo*/
#btn_registo
{
    width: 69%;
    margin-left: 16%;
}

/*ERRO NO LOGIN*/
.erro_login
{
    width: 100%;
    height: 3em;
    font-size: 1.2em;
    margin-top: 5em;
    color: red;
}

/*border das inputs*/
#logMail
{
    border: 1px solid gray;
}
#logPass
{
    border: 1px solid gray;
}

/*BOTAO DE LOGIN*/

a.animated-button.victoria-two {
	border: 2px solid #D24D57;
}
a.animated-button.victoria-two:after {
	background: #D24D57;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

/* Global Button Styles */
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: black;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color:#fff;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: black;
	font-size:14px;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}


/* -------------------------------------------- FOOTER ------------------------------------------------------ */

footer
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  color: white;
  text-align: center;
}

.footer_up
{
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
}

.footer_up ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.footer_up ul li:first-of-type
{
  float: left;
  padding-left: 15%;
}

.footer_up ul li
{
  float: left;
  padding-right: 7%;
}

.footer_up li a
{
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

/* BARRA MENU(NAV BAR) -----------------------------------------------------------------*/

.menu {
  height: 70px;
  width: 70px;
  right: 70px;
  top: 5%;
  text-align: center;
  position: absolute;
  transition: all 0.7s ease;
  z-index: 1;
  border-top-right-radius: 47px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.menu::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.menu.active {
  width: calc(100% - 140px);
  background: #fff;
}
.menu.active .menuContent * {
  opacity: 1;
}
.menu.active span i:nth-child(1) {
  transform: rotate(-45deg) translate(-50%, -50%);
  top: 50%;
}
.menu.active span i:nth-child(2) {
  transform: translateX(-100px);
  opacity: 0;
}
.menu.active span i:nth-child(3) {
  transform: rotate(45deg) translate(-50%, -50%);
  top: 50%;
}
.menu span {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 0;
  cursor: pointer;
  /*background: #fff;*/
  z-index: 1;
}
/*DROPDOWN LIST DO PERFIL*/
.navbar_menu_dropdown
{
    display: none;
    width: 12em;
    background-color: white;
    z-index: 5;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 71px;
}

.navbar_menu_dropdown input
{
  border: none;
  background-color: #fff;
  font-size: 20px;
  outline: none;
}

.navbar_menu_dropdown>div
{

}

.name_dropdownlist
{
    position: relative;
    height: 100%;
    width: 15%;
    float: right;
    font-size: 20px;
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.name_dropdownlist label
{
  margin-right: 15px;
}


.menu span img
{

 border-radius: 50%;
 max-width: 100%;
 height: auto;
 border: 2px solid #00cc8b;

}

.menu span i:nth-child(1)
{
  top: 40%;
}
.menu span i:nth-child(2)
{
  top: 50%;
}
.menu span i:nth-child(3)
{
  top: 60%;
}
.menu .menuContent
{
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 40px;
    right: 0px;
    text-align: center;
}

.menuContent
{
  display: inline;
}

.menu .menuContent *
{
  opacity: 0;
}

.menuContent ul
{
  width: 80%;
  float: left;
  margin-top: 15px;
  padding-left: 30px;
}

.menuContent label
{
    padding-top: 15px;
    font-size: 20px;
    display: block;
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.menuContent label:hover
{
    cursor: pointer;
}

.menu .menuContent ul li
{
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  color: #2d3235;
  font-size: 20px;
  transition: opacity 0.3s ease 0.3s;
  cursor: pointer;
  position: relative;
}
.menu .menuContent ul li:hover:before {
  opacity: 0.8;
  top: 13px;
  left: 20px;
}
.menu .menuContent ul li:hover:after {
  opacity: 0.8;
  bottom: 13px;
  left: -20px;
}

.menu .menuContent ul li:before {
  transform: rotate(-55deg);
  left: 60px;
  top: -30px;
  opacity: 0;
  right: 0;
  margin: auto;
}
.menu .menuContent ul li:after {
  transform: rotate(-55deg);
  left: -60px;
  bottom: -30px;
  opacity: 0;
  right: 0;
  margin: auto;
}

.menuContent ul li:first-of-type
{
  padding-left: 25%;
}

 /*butao e search bar -------------------------------------------------------------------------------*/
 .procura {
    position: absolute;
    top: 35px;
    left: 6.5%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
   }

   .procura:hover > .buscar-txt {
    width: 140px;
    padding: 0 6px;
   }

   .procura:hover > .buscar-btn {
    background: white;
    color: black;
   }

   .buscar-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
   }

   .buscar-btn > i {
    font-size: 30px;
   }

   .buscar-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
   }
/* fim botao e search bar -----------------------------------------------------------------------------------------*/

/*-------------------------------------------------CHAT------------------------------------------------------------*/
.chat_body
{
    display: flex;
    width: 70%;
    height: 90%;
    margin-left: 15%;
    font-family: 'Archivo', sans-serif;
    margin-top: 2%;
}
.chat_users
{
    width: 30%;
    height: 95%;
    background-color: white;

}
.chat_users_display
{
    height: 90%;
    width: calc(100% - 1px);
    border-right: 1px solid #f2f2f2;
}

.chat_users_display_user_img
{
    height: 60px;
    width: 60px;
    max-height: 80px;
    max-width: 80px;
    margin-right: 4%;
}

.chat_users_display_user
{
    padding: 4% 4% 4% 6%;
    height: 10%;
    width: 96%;
    display: flex;
}

.chat_users_display_user:hover
{
  background-color: #CCC;
}

.chat_users_display_user_img img
{
    height: 100%;
    width: 100%;

}
.chat_users_display_info
{
    height: 100%;
    width: 85%;
    font-family: 'Work Sans', sans-serif;
}

.chat_users_display_user_nome
{
    font-weight: bold;
    font-size: 1.2em;
}
.chat_users_display_user_mensagem
{
    padding: 5px;
}

.chat_display
{
    width: 69%;
    height: 95%;
    max-height: 100%;
    position: static;

}

.chat_display_text
{
    width: 100%;
    height: calc(6% - 2px);
    max-height: 16%;
    background-color: white;
}

.chat_display_text input
{
    width: 90%;
    background-color: white;
    border: 1px solid #f2f2f2;
    outline: none;
    padding-left: 10px;
}
.chat_display_text i
{

    color: #fffbfb;
    font-size: 1.7em;
}

.chat_display_text_send
{
    background-color: #D24D57;
    width: 69px;
    border: 1px solid #f2f2f2;
}

.chat_display_text_msg
{
    width: 70%;
    background-color: white;
    display: flex;
    height: 100%;

}

.chat_display_text_msg form
{
    width: 100%;
    display: flex;
}

/*user que ta a mandar mensagem*/
.chat_display_user
{
    height: 10%;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #f2f2f2;
}

.chat_display_user_profile
{
    display: flex;
    padding: 2%;
    width: 100%;
}

.chat_display_user_img
{
    height: 60px;
    width: 60px;
    max-width: 80px;
    max-height: 80px;
}

.chat_display_user_img img
{
    height: 60px;
    width: 60px;
}

.chat_display_user_name
{
    margin-left: 20px;
    font-size: 1.6em;
}

/*display das mensagens no ecra*/
.chat_display_messages
{
    width: 92%;
    height: 75%;
    background-color: white;
    padding: 4%;
    overflow-x: scroll;
    overflow-y: hidden;

}

.chat_display_messages::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.chat_display_messages_display
{
    float: right;
    width: 15em;
    height: auto;
    padding:1%;
    background-color:rgba(210,77,87,0.7) ;
    border-radius: 10px;

}
.chat_display_messages_hora
{
    float: right;
}
.chat_display_messages_texto
{
    margin-top: 0.8em;
}
.chat_display_messages_nome
{
    font-weight: bold;
}

/*utilizador esquerda*/
.chat_display_messages_display_left
{
    float: left;
    width: 15em;
    height: auto;
    padding:1%;
    background-color: #f2f2f2;
    border-radius: 10px;
}
.chat_display_messages_ocupy
{
    height: 6em;
    width: 100%;
    margin-bottom: 2em;
}

/*caixa de procura de utilizadores no chat -------*/
.chat_users_settings
{
    height: 10%;
    width: calc(100% - 1px);
    background-color: white;
    border-right: 1px solid #f2f2f2;
    position: relative;
}

.chat_user_settings_search
{
    height: 125%;
    background-color: #f2f2f2;
    border-radius: 8px;
    position: relative;
}

.chat_user_settings_search input
{
    width: 83%;
    height: 94%;
    border: none;
    background: #f2f2f2;
    padding-left: 10px;
    outline: none;
    border-radius: 8px;
}

.chat_user_settings_search i
{
    width: 5%;
    height: 100%;
    margin-left: 10px;
    margin-top: 5px;

}

.chat_user_settings_search_padding
{
    padding-left: 6%;
    padding-top: 3%;
    height: 30px;
    width: 88%;
}

/*resultado da pesquisa*/
.chat_resultados_pesquisa
{
    position: absolute;
    width: calc(18% + 8px);
    z-index: 5;
    background-color: #f2f2f2;
    top: 9.5%;
    left: calc(15% + 24px);
    border-top: 1px solid white;
    display: none;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.chat_resultados_pesquisa li
{
    padding-left: 1em;
    list-style: none;
    height: 50px;
}

.chat_resultados_pesquisa li:hover
{
    cursor:pointer;
    background-color: #ccc;
}

.chat_resultados_pesquisa_output
{
    display: flex;
    height: 100%;
}
.chat_resultados_pesquisa_output_nome
{
    padding-left: 1em;
    padding-top: 13px;
}
.chat_resultados_pesquisa_output_img
{
    padding-top: 7px;
}
.chat_resultados_pesquisa_output_img img
{
    height: 30px;
    width: 30px;
}

/*---------------------------------RESULTADOS DA PESQUISA PAG-----------------------------------------------*/
.resultado_Pesquisa_total
{
    width: 100%;
    height: auto;
    display: flex;
}

.resultadoPesquisa_body
{
    background-color: white;
    width: 40%;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 8px;
    border: 1px solid #f2f2f2;
}

.resultadosPesquisa_container
{
    width: 90%;
    height: 6em;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    margin-left: 5%;
}

.resultadosPesquisa_container_img
{
    width: 70px;
    height: 70px;
    padding-top: 12px;
}

.resultadosPesquisa_container_img img
{
    width: 70px;
    height: 70px;
}

.resultadosPesquisa_container_img img:hover
{
    cursor: pointer;
}

.resultadosPesquisa_container_nome
{
    font-size: 2em;
    margin: 30px;
}

.resultadosPesquisa_container_nome:hover
{
    cursor: pointer;
    text-decoration: underline;
    transition: 1s;
}

.resultadoPesquisa_back
{
    position: absolute;
    top: 5px;
    left: 15px;

}

.resultadoPesquisa_back img
{
    height: 100px;
    width: 200px;
}

.resultadoPesquisa_back i:hover
{
    cursor: pointer;
    color: rgba(210,77,87,1);
    transition: 0.5s;
    transition-timing-function: ease-out;
}

.resultadosPesquisa_container_chat
{
    margin-left: 50%;
    height: 50%;
    width: 50%;
    margin-top: 4%;
    height: 100%;
}

.resultadosPesquisa_container_chat i
{
    font-size: 2em;
    color: rgba(210,77,87);
}

.resultadosPesquisa_container_chat i:hover
{
    cursor: pointer;
}

.resultadoPesquisa_body_label
{
    width: 95%;
    height: 2em;
    border-bottom: 1px solid #aaa;
    font-size: 2em;
    padding-left: 5%;
    padding-top: 3%;
}

.resultadoPesquisa_body_end
{
    height: 2em;
    width: 100%;
}

/*------------------------------------------------EDITAR PERFIL---------------------------------------------------*/

.editarPerfil_body
{
    width: 100%;
    height: 100%;
}

.editarPerfil_body_display
{
    width: 70%;
    margin-left: 15%;
    background-color: white;
    margin-top: 5em;
}

.editarPerfil_body_display_container
{
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-left: 5%;
    width: 90%;
    height: 5em;
}

.editarPerfil_body_display_container:hover
{
    background-color: rgba(0, 0, 0, 0.1);
}

.editarPerfil_body_display_info
{
    padding-top: 1.5em;
    font-size: 1.3em;
    font-weight: bold;
    width: 25%;
}

.editarPerfil_body_display_output
{
    padding-top: 1.5em;
    font-size: 1.3em;
    width: 65%;
    /* margin-left: 10em; */
    color: gray;
    font-weight: bold;
}

.editarPerfil_body_display_edit
{
    padding-top: 1.5em;
    font-size: 1.3em;
    color: rgba(210,77,87);
}

.editarPerfil_body_display_edit:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.editarPerfil_body_display_last
{
    height: 3em;
    width: 100%;
}

.editarPerfil_body_display_text
{
    font-size: 2.5em;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.editarPerfil_body_display_text
{

}
